@use 'fonts';

body {
	font-family: fonts.$body-font-stack;
	font-weight: fonts.$body-font-weight;
	font-size: 1.25rem;
	line-height: 1.8;

	h1 {
		font-family: fonts.$heading-font-stack;
		font-weight: fonts.$heading-font-weight;
		font-size: 3.25rem;
		line-height: 1.2;
	}
}

.current {
	color: green;
}
